/* Disable scrollbars and overflow */
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrollbars */
    height: 100%; /* Ensure body fills the entire viewport */
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    color: #777;
    margin-top: 50px;
}

p {
    color: #999;
    font-size: 1.2em;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; /* Make sure particles are behind content */
    background-color: #2b2b2b; /* Ensure there is a background to see the particles clearly */
}

/* Styles for the 300x300 Three.js canvas */
canvas {
    display: block;
    margin: 50px auto; /* Center the canvas */
    border: 2px solid #333; /* Add a border to the canvas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow for effect */
}





